This notebook contains the forth part of exercises from: https://www.w3resource.com/python-exercises/pandas/index.php It covers pandas table style.

In [165]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Pandas Styling [15 exercises with solution]

https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

In [7]:
# create a dataframe of ten rows, four columns with random values 

np.random.seed(24)
df_a = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df_s = pd.concat([df_a, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))], axis=1)
df_s

      A         B         C         D         E
0   1.0  1.329212 -0.770033 -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011 -0.481165  0.850229
4   5.0  1.453425  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538  0.290720

In [68]:
# the output looks very similar to the standard DataFrame HTML representation
# but the HTML here has already attached some CSS classes to each cell, even if we haven’t yet created any styles

df_s.style

In [70]:
# control the display value

df_s.style.format(na_rep='MISS', precision=3, subset=['B'])

In [29]:
# 1 Write a Pandas program to highlight the negative numbers red and positive numbers black

df_s.style.applymap(lambda x: 'color: red' if x < 0 else 'color: black')

In [31]:
# 2 convert some values to nan values, write a Pandas program which will highlight the nan values

df_s.iloc[0, 2] = np.nan
df_s.iloc[3, 3] = np.nan
df_s.iloc[4, 1] = np.nan
df_s.iloc[9, 4] = np.nan
df_s.style.highlight_null(null_color='red')

In [17]:
# 3 write a Pandas program to highlight the maximum value in each column

df_s.style.highlight_max(subset=['B', 'C', 'D', 'E'], color='green')

In [18]:
# 4 write a Pandas program to highlight the minimum value in each column

df_s.style.highlight_min(subset=['B', 'C', 'D', 'E'], color='yellow')

In [19]:
# 5 write a Pandas program to highlight the maximum value in last two columns

df_s.style.highlight_max(subset=['D', 'E'], color='green')

In [27]:
# 6 write a Pandas program to set dataframe background Color black and font color yellow

df_s.style.set_properties(**{'background-color': 'black', 'color': 'yellow'})

In [34]:
# 7 write a Pandas program to highlight dataframe's specific columns

df_s.style.set_properties(subset=['A', 'B'], **{'background-color': 'grey'})

In [35]:
# 8 write a Pandas program to highlight dataframe's specific columns with different colors

df_s.style.set_properties(subset=['B', 'C', 'E'], **{'background-color': 'grey'})\
        .set_properties(subset=['A', 'D'], **{'background-color': 'red'})

In [40]:
# 9 write a Pandas program to display the dataframe in table style

# CSS properties for th elements in dataframe
th_props = [
    ('font-size', '14px'),
    ('text-align', 'center'),
    ('font-weight', 'bold'),
    ('color', '#6d6d6d'),
    ('background-color', '#f7ffff')
]

# CSS properties for td elements in dataframe
td_props = [('font-size', '10px')]

# table styles
styles = [
    dict(selector="th", props=th_props),
    dict(selector="td", props=td_props)
]

df_s.style.set_table_styles(styles)

In [51]:
# 10 write a Pandas program to highlight the entire row in Yellow 
# where a specific column value is greater than 0.5

df_s.style.apply(
    lambda x: ['background-color: yellow']*5 
        if x.C > 0.5 
        else ['background-color: white']*5, 
    axis=1)

In [53]:
# 11 write a Pandas program to display the dataframe in Heatmap style

df_s.style.background_gradient(cmap='viridis')

In [55]:
# 12 write a Pandas program to make a gradient color mapping on a specified column

df_s.style.background_gradient(subset=['C'])

In [56]:
# 13 write a Pandas program to make a gradient color on all the values of the said dataframe

df_s.style.background_gradient()

In [59]:
# 14 Write a Pandas program to display the dataframe in table style and border around the table 
# and not around the rows

df_s.style.set_table_styles([
    {
        'selector': '', 
        'props': [('border','4px solid #7a7')]
    }
])

In [61]:
# 15 write a Pandas program to display bar charts in dataframe on specified columns

df_s.style.bar(subset=['B', 'C'], color='#d65f5f')